#resume {border: none; }
#contacts { text-align: center; color: black; padding-bottom: 5pt; padding-top: 5pt; }
#contacts  li{ display: inline;  }
#header2, #footer {display: none; }
h1 { color: black; text-align: center; padding-top: 0pt; padding-bottom: 0pt; font-family: Estrangelo Edessa; font-size:22pt; }
h2 { color: black; font-size: 16pt; }
h3 { color: black; }
div { text-align: justify; }
body
{ background-color: white; }
a:link, a:visited {color: black;}
a:hover, a:active {text-decoration: underline; color: red;}
ul { margin:0px; padding:0; list-style:none; }
li { margin-left:10px; margin-bottom:10px; padding:0;  }
.printonly {display:block;}


