#resume {background: whitesmoke; width:900px; margin:auto; padding:20px; text-align:left; border-left: solid 6px whitesmoke; border-right: solid 6px whitesmoke;
border-top: solid 6px whitesmoke; border-bottom: solid 6px whitesmoke;  }
#contacts { text-align: center; color: cadetblue; padding-bottom: 10pt; font-weight: bold; padding-top: 10pt; }
#contacts  li{ display: inline;  }
#header2 { text-align: center; color: red; font-size: 15pt; padding-bottom:0pt; padding-top: 0pt; background-color: whitesmoke; font-family: Estrangelo Edessa; }
h1 { color: cadetblue; text-align: center; font-weight: bold; padding-top: 0pt; padding-bottom: 0pt; font-family: Estrangelo Edessa; font-size:32pt; }
h2 { color: cadetblue; font-size: 18pt; }
h3 { color: black; }
div { text-align: justify; }
body
{ background-color: powderblue; }
a:link, a:visited {color: black;}
a:hover, a:active {text-decoration: underline; color: red;}
ul { margin:0px; padding:0; list-style:none; }
li { margin-left:20px; margin-bottom:20px; padding:0;  }
#footer { color: cadetblue; text-align: center; font-family: Arial; font-size: 14pt; padding-top: 5pt; }

